/* RESET */

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Finalização do RESET */



















/* HEADER */

header{
    background-color: #2ccd70;
    min-height: 0.5vw;
}

/* Finalização do HEADER */



















/* Section FUNDO */

.fundo_pai{
    width: 100%;
    height: 605px; 
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    
}

.fundo_pai > .info{
    /* border: #16A600 1px solid; */
    height: 290px;
    align-self: center;
    width: 43%;
    padding-left: 11%;
}

.info h1{
    font-family: 'Pacifico', cursive;
    font-size: 2.9rem;
    color: #fff;
    font-weight: 50;
}

.info spam {
    color: #2ccf72;
    font-size: 2.9rem;
}

.info p{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1.4rem;
    
}

.info .images{
    /* border: #16A600 1px solid; */
    margin-top: 20px;
    display: flex;
    width: 50%;;
    justify-content: space-between;  
}

.info .images .redondo{
    border-radius: 50%;
    background-color: black;
    width: 60px;
    height: 60px;
    opacity: 0.7;  
}

.info .images .redondo:hover{
   background-color: #2ccf72;
}

.info .images .redondo img{
    padding: 16px;  
}

.maos{
    /* border: 1px solid #16A600; */
    margin-top: 80px;
    padding-top: 20px;
    padding-right: 6%;
}

.maos img{
   
}

/* Finalização do FUNDO */












/* SEGUNDA PARTE */

.segunda_parte{
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.segunda_parte .images2{
    /* border: #16A600 1px solid; */
    margin-top: 20px;
    display: flex;
    width: 65%;;
    margin-top: 60px;
    justify-content: space-between;   
}

.segunda_parte .images2 .redondo1{
    border-radius: 50%;
    background-color: #14c55e;
    width: 80px;
    height: 80px;
    opacity: 0.7;  
}

.segunda_parte .images2 img{
    padding: 16.5px;  
}

.titulos{
    display: flex;
    padding-top: 20px;
    width: 72%;
    justify-content: space-between;
    font-size: 1.1rem;
    /* border: #16A600 1px solid; */
    font-family: 'Roboto', sans-serif;
}

.titulos .ajuste1 h2{
    margin-left: 30px;
}

.titulos .ajuste2 h2{
    margin-left: 25px;
}

.titulos .ajuste3{
    margin-right: 6px;
} 

.paragrafos{
    margin-top: 20px;
    /* border: #16A600 1px solid; */
    width: 80%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #616161;
}

.paragrafos p{
    padding: 5px 12px 12px 12px;
 } 

 .paragrafos div{
    padding: 1px 11px 11px 11px;
 } 
 
.paragrafos .texto1{
    /* border: #000 1px solid; */
}

.paragrafos .texto1 p {
    margin-left: -50px;
}

.paragrafos .texto2{
    /* border: #2ccf72 1px solid; */
}

.paragrafos .texto2 p {
   margin-left: 1%;
}

.paragrafos .texto3{
    /* border: #000 1px solid; */
}

.paragrafos .texto3 p{
    margin-right: -48px;
}
/* Finalização da SEGUNDA PARTE */

/* TERCEIRA PARTE */

.terceira-parte{
    display: flex;
    justify-content: space-around;
    background-color: #cecece36;
    
}

.texto{
    width: 30%;
    height: 40%;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;

}

.video{
    display: flex;
    align-items: center;
    width: 40%;
    border-radius: 50%;


}

.texto label{
    background-color: rgb(42, 192, 117);
    color: white;
    padding: 10px 20px;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    width: 10%;
    height: 10px;
}
.texto input{
    height: 40px;
    width: 271px;
    border-radius: 10px 0px 0px 10px;
}

.quarta-parte{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.quarta-parte .texto2{
    width: 70%;
    height: 40%;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
}